body {
  font-family: Arial, sans-serif;
  line-height: 1.1;
  background-color: gold;
}

header {
  background-color: orange;
  padding: 8px;
  text-align: center;
}

header h1 {
  margin-bottom: 16px;
}

header nav {
  font-size: 18px;
  font-weight: bold;
}

header img {
  width: 300px;
  margin: 8px auto;
  display: block;
}

main {
  padding: 16px;
  margin: 0 auto;
}

h2 {
  color: green;
  border-bottom: 2px solid green;
  padding-bottom: 3px;
  margin-top: 100px;
  margin-bottom: 2px;
  text-align: center;
}

h3 {
  color: green;
  margin-top: 32px;
  margin-bottom: 5px;
  text-align: center;
}

section {
  margin-bottom: 32px;
}

figcaption {
  font-style: italic;
  margin-top: 8px;
  color: white;
  text-align: center;
}
main img {
  display: block;
  width: 380px;
  height: 300px;
  border: solid green;
}

.grouping {
  display: flex;
}

.img2 {
  margin-left: 20px;
}

footer {
  background-color: green;
  text-align: center;
  padding: 1px;
  margin-top: 32px;
}

footer a {
  color: blue;
  text-decoration: none;
  border-bottom: 1px solid blue;
}

footer a:hover {
  border-bottom: 1px solid transparent;
}
