body {
  font-family: Arial, sans-serif;
  margin-left: 0;
  padding: 0;
  background-color: lightblue;
}

.text {
  margin-left: 15px;
  text-decoration: none;
}

.text2 {
  margin-left: -15px;
  color: black;
}

.img {
  margin-left: -35px;
  border-radius: 0;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

#p1 {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  color: blue;
  text-decoration: none;
}

header {
  text-align: center;
  background-color: white;
  text-decoration: none;
}

main {
margin-left: 3%;
margin-right: 3%;
}

footer {
  margin: 5%;
  font-family: italic;
  color: black;
  font-weight: 10px;
  font-size: 14px;
}
